.player {
  height: 277px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.player.ontop {
  z-index: 3;
}

.plate {
  height: 96px;
  width: 95px;
  position: absolute;
  top: 14px;
  right: -10px;
  background: url('/public/images/table_plate.png') no-repeat;
  background-size: 95px 96px;
}
